@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Elsie&family=Fjalla+One&family=Source+Serif+Pro:wght@300&display=swap');
html {
    scroll-behavior: smooth;
}

title{
    font-family: 'Elsie',cursive;
}

body{
    margin: 0px auto 0px auto;
    max-width: 1150px;  
    min-width: 1140px;
}

.image-overlay{
    background: rgb(0,0,0,0.5);
    height: 96.2%;
    padding-top: 20px;
  }
  

/*Navigation Bar*/
.Nav-Bar{
    background-image: url('/static/pexels-photo-1547813.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 235px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.logo{
    position: absolute;
}
  
.bottomnav{
    margin-top: 40%;
}
  
a.topnav {
    position: absolute;
    left: 35%;
    top: 10%;
    font-family: 'Elsie', cursive;
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 251, 233);
}
  
.Navigation-Bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.Navigation-Bar li {
    float: left;
    border-radius: 5px;
    margin-top: 5%;
}
    
.Navigation-Bar li a {
    display: block;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    color: rgb(255, 251, 233);
    padding: 9px 16px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.Navigation-Bar li:hover{
    background-color: rgb(0,0,0, 0.75);
    border: solid 1px rgb(255,251,233);

}
  
.Navigation-Bar li:hover a{
    color: rgb(255, 251, 233);
}

.dropbtn {
    cursor: pointer; 
    margin-top: 6%;
    margin-left: 7%;
    margin-bottom: 4%;
    padding: 10px 16px;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    color: rgb(255, 251, 233);
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    border: solid 1.5px rgb(255, 251, 233);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.dropdown-content {
    display: block;
    margin-left: 16%;
}

.dropdown-content a {
    display: block;
}

.show {
    display: none;
}

.Section-1{
    margin-left: 235px;
    height: 5600px;
    width: 79.56%;
    display: inline-block;
    background-color: rgb(255, 251, 233);
}

.dash-title{
    margin-top: 4%;
    background: linear-gradient(119deg, rgba(61,5,5,1) 47%, rgba(208,106,0,1) 100%);
}

.dash-title h1{
    font-family: 'EB Garamond', serif;
    color:  rgb(255, 251, 233);
    font-size: 35px;
    display: inline-block;
    margin-left: 13%;
    padding: 15px 10px;
}

.dash-title img{
    margin-left: 6%;
    margin-top: 3.5%;
    position: absolute;
}

.image-overlay2{
    padding-bottom: 40px;
    background: rgb(0,0,0,0.1);
  }

.param-title h1{
    font-family: 'EB Garamond', serif;
    color:   rgb(112, 24, 4);
    font-size: 35px;
    position: absolute;
    margin-left: 5.3%; 
    margin-top: 3%;
}

.param-title h2{
    font-family: 'EB Garamond', serif;
    color:   rgb(112, 24, 4);
    position: absolute;
    margin-left: -3%; 
    margin-top: 10%;
}
  
.param-title img{
    transform: rotate(70deg);
    position: absolute;
    margin-top: 1%;
    margin-left: -3%;
}

.contp{
    margin-left: 7.5%;
}

.Eval-Param {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    text-align: center;
    margin-left: 2.2%;
    margin-top: -4%;
    margin-bottom: 3%;
    padding-bottom: 1%;
    padding-top: 3%;
    border-radius: 20px;
    width: 22%;
    display: inline-block;
  }
  
  .counter-count{
    text-align: center;
    display: inline-block;
    margin-right: 2%;
    margin-left: 1%;
  }
 
  
  .counter-count .count{
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 60px;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    text-align: left;
    margin-left: 20%;
    height: 75px;
    width: 167px;
  }

  .percent{
    color: white;
    position: absolute; 
    font-size: 60px;
    margin-top: -6%;
    margin-left: 1%;
  }
  
  .counter-count h1{
    color: white;
    font-weight: lighter;
    font-family: 'EB Garamond', serif;
    border-top: 1px solid white;
    padding-top: 3%;
    font-size: 1.7rem;
  }

  .acc-loss-graph{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    margin-top: 12%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 7.9%;
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: rgb(74, 6, 6);
  }

  .test-graph{
    display: inline;
  }
  .test-graph img{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    margin-left: 3%;
    margin-top: 20%;
    border: 5px solid rgb(74, 6, 6);
    width: 45%;
    display: inline-block;
  }

  .myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 8px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
  }
  /* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  .cont{
     margin-top: 50px;
     background-color: rgba(61,5,5,1);
     height: 70px;
     width: 912px;
 }

.yolo_test img{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
  margin-left: 7.2%;
  margin-top: 20%;
  border: 5px solid rgb(74, 6, 6);
  width: 85%;
}
.yolo_test.test2 img{
  margin-top: 12%;
}

.Video{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
  margin-left: 7%;
  margin-top: 12%;
  border: 5px solid rgb(74, 6, 6);
  width: 85%;
  height: 440px;
  z-index: 9;
}

.scale-video iframe {
  width: 100%;
  height: 440px;
}
