<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Elsie&family=Fjalla+One&family=Source+Serif+Pro:wght@300&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/About_Style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="{{url_for('static', filename='Fire_logo_title.jpg')}}" type="image/jpg" sizes="128x128">
    <title>Fire Eye - About</title>
</head>

<body>
<section>
    <div class="Section-1">
        <div class="Nav-Bar">
        <ul class="Navigation-Bar">
            <a class="title" href="{{url_for('View.Home')}}"><img class="logo" src="{{url_for('static', filename='Fire_Logo.png')}}" width="100px" height="100px"></a>
            <a class="topnav-left" href="{{url_for('View.Home')}}">Fire Eye</a>
        <div class="topnav-right">
            <li class="Nav-Link"><a  href="{{url_for('View.Home')}}"><i style="padding-right:10px;" class="fa fa-home"></i>HOME</a></li>
            <li class="Nav-Link"><a  href="{{url_for('View.About')}}"><i style="padding-right:10px;" class="fa fa-tree"></i>ABOUT</a></li>
            <li class="Nav-Link"><a  href="{{url_for('View.Home', _anchor='section3')}}"><i style="padding-right:10px;" class="fa fa-list-ul"></i>SERVICES</a></li>
            <li class="Nav-Link"><a  href="{{url_for('View.Home', _anchor='section6')}}"><i style="padding-right:10px;" class="fa fa-leaf"></i>NEWS</a></li>
            <li class="Nav-Link"><a  href="{{url_for('.About', _anchor='section9')}}"><i style="padding-right:10px;" class="fa fa-phone"></i>CONTACT</a></li>
        </div>
        </ul>
        </div>
  
        <div class="Content">
        <div class="image-overlay">
            <div class="image">
            </div>
        </div>
        <div class="Content-text">
        <h1>ABOUT US</h1>
        <a href="{{url_for('View.Home')}}">Home&nbsp&nbsp&nbsp&nbsp<i class="fa fa-angle-right"></i></a>
        <p>&nbsp&nbsp&nbsp&nbspAbout Us</p>
        </div>
        </div>
    </div>
</section>   

<section>
    <div class="Section-2">
        <div class="AboutDetails reveal fade-left">
            <img src="https://static.vecteezy.com/system/resources/previews/011/318/893/original/green-leaf-branch-watercolor-free-png.png" height="100px" width="100px">
            <h1>ABOUT FIRE EYE</h1>
            <div class="AboutContent">
            <p>
                Fire Eye is the final year project of Fatima Jinnah Women University of Pakistan 
                providing with a real-time forest fire and smoke detection and alarm system to detect 
                the occurrence of forest fires and smoke at an early stage, and to alert firefighters 
                and first responders to take immediate action to prevent the spread of the fire and 
                minimize damage to life and property. The FireEye includes, starting from pre-fire state, 
                the following modules and technology:
            </p>
            <ul>
                <li>Drones based surveillance to discover, locate and confirm fire ignition</li>
                <li>GPS module to provide exact location of the detected fire</li>
                <li>Active fire detection module to detect specific patterns that indicate fire presence</li>
                <li>Alert module to monitor the system's status and view fire alerts in real-time</li>
                <li>Help firefighters through enhanced situational awareness</li>
                <li>User-friendly system for easy wildfire management and monitoring</li>
            </ul>
            </div>
        </div>

        <div class="Aboutimg reveal fade-right">
            <img src="/static/About_Image.jpeg" height="320px" width="530px">
        </div>          
    </div>
</section>

<section>
    <div class="Section-3">    
        <div class="GoalsDetail reveal fade-top">
            <h1>OUR GOALS</h1>
            <h2>WHAT FIREEYE IS DOING?</h2>
            <img src="https://static.vecteezy.com/system/resources/previews/011/318/893/original/green-leaf-branch-watercolor-free-png.png" height="100px" width="85px">
            <p>
            Healthy forest ecosystems are critical for our communities and climate action. Forests are 
            the lungs of our earth, helping to keep our climate stable by purifying the air as they 
            absorb carbon and produce  oxygen, which is essential for human life on earth. FireEye is 
            working to protect and restore forests, end deforestation, and expand sustainable forest 
            management to help the people and wildlife that depend on them.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="Section-4">
        <div class="GoalPoints reveal fade-left">
            <img src="https://static.vecteezy.com/system/resources/previews/011/318/893/original/green-leaf-branch-watercolor-free-png.png" height="100px" width="100px">
            <h1>FORESTS ARE THE ROOT OF ALL LIFE</h1>
            <p>
                Pakistan has 4.2 million ha of forest and planted trees, which equates to 4.8% of 
                the total land area. The forestry sector of Pakistan is the main source for lumber, paper, 
                fuelwood, latex, and medicines. Five hundred thousand workers are employed in forestry and 
                forest-related industries such as logging, village carpentry, and the manufacture of 
                timber components for the construction industry. Forests supply 32% of Pakistan’s total 
                energy needs in the form of fuelwood. Forests also provide forage for one third of 
                Pakistan’s 86 million head of livestock. Leather, wood, and other livestock products 
                contribute US$400 million, or 9%, of total export earnings. In short, forests play an 
                important role in providing shelter, as over 2 billion people rely on them. As a source 
                of food, shelter, water, fuel, and security, there is a greater need to preserve our 
                forests. According to the FAO, there were 32.0k people employed in Pakistan's forest 
                sector in 2010, which is a major reason to think about the preservation of forests.
            </p>
        </div>

        <div class="Goalsimg reveal fade-left">
            <img src="/static/wp7287036.jpg" height="280px" width="455px">
        </div>   
    </div>
</section>

<section>
    <div class="Section-5">
        <div class="GoalPoints Point-2 reveal fade-right">
            <img src="https://static.vecteezy.com/system/resources/previews/011/318/893/original/green-leaf-branch-watercolor-free-png.png" height="100px" width="100px">
            <h1>DEFORESTATION – A PRE-DECIDED DEVASTATION</h1>
            <p>
                Deforestation is a major environmental concern in the world. Deforestation includes the 
                cutting down, burning, and destructing of forests. It is the first link in a chain of 
                environmental degradation that includes erosion, climate change, air pollution, and the 
                loss of hardwood and fuel wood. Forests are being cut down in Pakistan at a petrifying 
                rate. The one of the major causes of climate change in Pakistan is deforestation. In 
                Pakistan, the agriculture, forestry and land-use sectors are responsible for 22% of 
                global greenhouse gas emissions, and deforestation is a major driver. In Pakistan, 
                forest fires were responsible for 56% of tree cover loss between 2001 and 2021. Out of 
                which 4.6% of tree cover loss occurred in areas where the dominant drivers of loss 
                resulted in Deforestation. 
            </p>
        </div>

        <div class="Goalsimg img2 reveal fade-right">
            <img src="/static/deforestation.jpg" height="280px" width="455px">
        </div>   
    </div>
</section>

<section>
    <div class="Section-6">
        <div class="GoalPoints Point-3 reveal fade-left">
            <img src="https://static.vecteezy.com/system/resources/previews/011/318/893/original/green-leaf-branch-watercolor-free-png.png" height="100px" width="100px">
            <h1>PROTECT FOREST TO COMBAT CLIMATE CHANGE</h1>
            <p>
                Forests are a climate hero, buffering communities against extreme weather and absorbing 
                and locking away planet-warming carbon dioxide. They are valuable carbon repositories 
                and play an important role for the climate. When forests are destroyed, they release 
                large quantities of carbon dioxide into the atmosphere, which further exacerbates the 
                climate crisis. It takes decades to reforest areas ravaged by wildfires. From 2001 to 
                2021, Pakistan lost 9.75kha of tree cover, equivalent to a 1.0% decrease in tree cover 
                since 2000, and 3.56Mt of CO₂ emissions. Currently, Pakistan is facing adverse and 
                severe effects of climate crisis in the shape of extreme temperatures, severe drought 
                and forest fires. Fire Eye is here to ensure nature-based solutions deliver for people 
                and nature, by providing expert guidance and support on monitoring, reporting and 
                verification of emissions that truly benefit Indigenous peoples and local communities 
                as well as the climate and forests.
            </p>
        </div>

        <div class="Goalsimg reveal fade-left">
            <img src="/static/Dr-Sarah-Sarkis_Unmistakable-Creative-podcast.png" height="280px" width="455px">
        </div>   
    </div>
</section>

<section>
    <div class="Section-7">
        <div id="image-comparison-slider">
            <img src="/static/Free-download-Desktop-Fun-Cool-Forest-Wallpapers-1600x1067-.jpg" alt="before">
            <div class="img-wrapper">
              <img src="/static/4aa4bc94aa4da9048683e315c1b5cb65.jpg" alt="after">
            </div>
            <span class="label label-before">Before</span>
            <span class="label label-after">After</span>
            <div class="handle">
              <div class="handle-line"></div>
              <div class="handle-circle">
                <i class="fa fa-angle-left"></i>
                <i class="fa fa-angle-right"></i>
              </div>
              <div class="handle-line"></div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="Section-8">
        <div class="FooterCap">
            <div class="image1">
            <img src="/static/Fire_Logo.png" width="190px" height="210px">
            <h1>PRESERVING FORESTS TO SUSTAIN NATURE AND LIFE ON EARTH!</h1>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="Section-9" id="section9">
        <img src="/static/toppng.com-forest-png-image-forest-clip-art-black-and-white-2334x761.png" width="100%" height="320px">
        <div class="overlay">
            <div class="Column Column-1">
                <h1 class="footer-h1">FIRE EYE</h1>
                <p>
                   System that will analyze the scope of artificial intelligence for early 
                   detection of fire and sending alerts with images and videos from 
                   CCTV footage. 
                </p>
            </div>

            <div class="Column Column-2">
                <h1 class="footer-h1">EXPLORE</h1>
                <p><a href="{{url_for('View.Home')}}">Home</a></p>
                <p><a href="{{url_for('View.About')}}">About</a></p>
                <p><a href="{{url_for('.Home', _anchor='section3')}}">Services</a></p>
                <p><a href="{{url_for('.Home', _anchor='section6')}}">News</a></p>
            </div>

            <div class="Column Column-3">
                <h1 class="footer-h1">CONTACT</h1>
                <p><i class="fa fa-home"></i>&nbspRawalpindi, Punjab, Pakistan</p>
                <p class="Column-2"><i class="fa fa-envelope-square"></i><a  href="{{url_for('.Home', _anchor='section6')}}">&nbsp&nbspfypforestfire@gmail.com</a></p>
                <p><i class="fa fa-phone"></i>&nbsp&nbsp0345-7865345</p>
            </div>
            <div class="Column Column-4">
                <h1 class="footer-h1">FOLLOW US</h1>
                <p style="display: inline-block;"><a style="background-color: #3b5998; padding-left: 17.5px; padding-right: 17.5px;" href="https://www.facebook.com/" role="button"><i class="fa-brands fa-facebook-f"></i></a></p>
                <p style="display: inline-block;"><a style="background-color: #55acee" href="https://twitter.com/" role="button"><i class="fa-brands fa-twitter"></i></a></p>
                <p style="display: inline-block;"><a style="background-color: #dd4b39" href="{{url_for('View.Home')}}" role="button"><i class="fa-brands fa-google"></i></a></p><br>
                <p style="display: inline-block;"><a style="background-color: #ac2bac" href="https://www.instagram.com/?hl=en" role="button"><i class="fa-brands fa-instagram"></i></a></p>
                <p style="display: inline-block;"><a style="background-color: #0082ca; padding-left: 16px; padding-right: 16px;" href="https://www.linkedin.com/" role="button"><i class="fa-brands fa-linkedin"></i></a></p>
                <p style="display: inline-block;"><a style="background-color: #333333" href="https://github.com/" role="button"><i class="fa-brands fa-github"></i></a></p>
            </div>
        </div>
    </div>
</section>
</body>
</html>

<script>
    function reveal() {
      var reveals = document.querySelectorAll(".reveal");
    
      for (var i = 0; i < reveals.length; i++) {
        var windowHeight = window.innerHeight;
        var elementTop = reveals[i].getBoundingClientRect().top;
        var elementVisible = 50;
    
        if (elementTop < windowHeight - elementVisible) {
          reveals[i].classList.add("active");
        } 
      }
    }
    
    window.addEventListener("scroll", reveal);
</script>

<script>
const slider = document.querySelector("#image-comparison-slider");
const sliderImgWrapper = document.querySelector("#image-comparison-slider .img-wrapper");
const sliderHandle = document.querySelector("#image-comparison-slider .handle");

slider.addEventListener("mousemove", sliderMouseMove);
slider.addEventListener("touchmove", sliderMouseMove);

function sliderMouseMove(event) {

  if(isSliderLocked) return;

  const sliderLeftX = slider.offsetLeft;
  const sliderWidth = slider.clientWidth;
  const sliderHandleWidth = sliderHandle.clientWidth;

  let mouseX = (event.clientX || event.touches[0].clientX) - sliderLeftX;
  if(mouseX < 0) mouseX = 0;
  else if(mouseX > sliderWidth) mouseX = sliderWidth;

  sliderImgWrapper.style.width = `${((1 - mouseX/sliderWidth) * 100).toFixed(4)}%`;
  sliderHandle.style.left = `calc(${((mouseX/sliderWidth) * 100).toFixed(4)}% - ${sliderHandleWidth/2}px)`;
}

let isSliderLocked = true;

slider.addEventListener("mousedown", sliderMouseDown);
slider.addEventListener("touchstart", sliderMouseDown);
slider.addEventListener("mouseup", sliderMouseUp);
slider.addEventListener("touchend", sliderMouseUp);
slider.addEventListener("mouseleave", sliderMouseLeave);

function sliderMouseDown(event) {
  if(isSliderLocked) isSliderLocked = false;
  sliderMouseMove(event);
}

function sliderMouseUp() {
  if(!isSliderLocked) isSliderLocked = true;
}

function sliderMouseLeave() {
  if(isSliderLocked) isSliderLocked = true;
}
</script>

